html {
    scroll-behavior:smooth;
}

.hyperLink{
    color: blue;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #ebebeb; /* Page background colour  e2e2e2*/ 
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(0, 0, 0); /*Page text colour*/
}

.backgroundImage{
      /* The image used */
  background-image: url("/Images/harbour.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.textCards{ 
    background-color: white;
    background: rgba(255, 255, 255, 0.8);

    color: #000;
    align-content: center;

    border-radius: 25px;

    margin: auto;
    width: 80%;
    border: 2px solid black;
    padding: 10px;
}


.mainHeader{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.mapStyle{
    border-radius: 25px;
    border: 2px solid #000000;
}

/* Main Body Content */
.pageContent{
    padding-left: 5%;
    padding-right: 5%;
}
.box {
    display: flex;
    vertical-align:middle;  
 }

/* Uni Logo */
.ULogo{
    width: 35px;
    height: 35px;
    vertical-align:middle
}

.bg-1{
    color: #fff;
    font-size: 40px;
    padding-left: 2%;
    padding-right: 2%;
}

/* Scroll Bar *******************************/
::-webkit-scrollbar {
    width: 10px;
    background: #38373d;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #615a5a;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #6e6666;
    }
/* ********************************************* */


/* SideBar */


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2c2c2c;/* Side bar colour */
    color: #fff; /* sidebar text colour*/
    transition: all 0.3s;
}
/* ^ colour of the sidebar, change color for text, background for background */


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    color: #fff;

    padding: 20px;
    background: rgb(61, 120, 172);/* sidebar head colour*/
    height: 90px;
    border-right: 1px solid #000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #202022;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3f3f42;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* buttons */
a.primaryBtn {
    background: rgb(61, 120, 172); /* toolbar button colours */
    color: #000000; /* toolbar text colours */
}

a.secondaryBtn {
    background: rgb(80, 80, 80);  /* toolbar button colours */
    color: #ffffff; /* toolbar text colours */
}


/* 
a.secondaryBtn,
a.secondaryBtn:hover {
    background: rgb(9, 204, 253) =!important; 
    color: #fff !important; 
} */


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /*padding: 40px;*/  /*page padding*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 2%;
    
}

#content.active {
    width: 100%;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: rgb(61, 120, 172); /* close button colour of header/sidebar*/
    cursor: pointer;
}

.titleHeader {
    background-color: rgb(61, 120, 172); /* background colour of the title header */
    height: 90px;
}

/* aaa */
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: rgb(22, 22, 22); /* colour of the close / open button of the sidebar*/
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ----------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        /* display: none; */
    }
}

/* https://www.bootdey.com/snippets/view/Clean-contact-cards-list#css */
/* CONTACTS */
.contact-box {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    /* margin-bottom: 20px; */
  }
  .contact-box > a {
    color: inherit;
  }
  .contact-box.center-version {
    border: 2px solid #0f0f0f;
    padding: 0;
  }
  .contact-box.center-version > a {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  .contact-box.center-version > a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-box.center-version address {
    margin-bottom: 0;
  }
  .contact-box .contact-box-footer {
    text-align: center;
    background-color: #bebaba;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;


  }

  a{
      text-decoration:none !important;
  }

  /* .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  } */

/* map buttons ------------------------------------- */
.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

/* 11 */
.btn-1 {
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .btn-1:hover {
     background: #000;
    color: #fff;
  }
  .btn-1:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;

  }
  .btn-1:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }



/*  FAQs */

/* Accordion: https://freefrontend.com/bootstrap-accordions/ https://codepen.io/kbsnr02/pen/LYNMyzP*/

/* body {
    background: #232323;
  } */

  .accordion{
    margin: 40px 0;
  }
  .accordion .item {
        border: 2px solid #000;
        margin-bottom: 20px; /* Space between the boxes */
        background: #ffffff; /* back of answer area */
  }

  .t-p{
    color: black;
    padding: 15px 30px 10px 30px; /* Answer Padding */
  }
  .accordion .item .item-header h2 button.btn.btn-link {
      background: #202020; /* back of question part of accordion */
      color: white; /*question text*/
      border-radius: 0px;
      font-family: 'Poppins';
      font-size: 22px;
      font-weight: 400;
      line-height: 2.5;
      text-decoration: none;

      word-break: break-all;
      white-space:normal;

  }
  .accordion .item .item-header {
      border-bottom: none;
      background: transparent;
      padding: 0px;
      margin: 2px;
  }

  .accordion .item .item-header h2 button {
      color: white;
      font-size: 20px;
      padding: 10px;
      display: block;
      width: 100%;
      text-align: left;
  }

  /* .accordion .item .item-header h2 i {
      float: right;
      font-size: 30px;
      color: #eca300;
      background-color: black;
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
  } */

  button.btn.btn-link.collapsed i {
      transform: rotate(0deg);
  }

  button.btn.btn-link i {
      transform: rotate(180deg);
      transition: 0.5s;
  }


  /* Social Media */

.socialGroup:hover > a {
    transition: 0.5s ease-in-out;
    transform: scale(0.95);
    filter: blur(2px);
}

.socialIcon {
    transition: 0.5s ease-in-out;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
  }

    .socialGroup .socialIcon:hover {
        transition: 0.5s ease-in-out;
        filter: blur(0px);
        transform: scale(100);
    }

    .fa-instagram {
        color: white;
        /* color: rgb(195, 0, 144) */
      }
      
    .fa-youtube {
        color: white;
        /* color:red */
    }

      
    /* .fa-youtube:hover {
        color: red;
    } */

    .fa-twitter {
        color: white;
        /* color: rgb(20, 160, 241) */
      }

    .fa-linkedin {
        color: white;
        /* color: rgb(30, 101, 179) */
      }     

    .fa-facebook {
        color: white;
        /* color: rgb(62, 82, 195) */
      }

  /* End of socials  */

/* What to Know */

.collapse-button {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  
  .collapsible-content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
  }
  
  .down-arrow {
    text-align: center;
    margin-top: 5px;
    float: right;
  }  

  .to-do-list {
      float: right;
      padding-bottom: 220px;
      padding-left: 60px;
  }

  .to-do-image {
      width: 80%;
      max-width: 100%;
      height: auto;
  }

/* End What to Know */

/* Testimonials */

.testimonialCard {
    background-color: white;
    width: 900px;
    height: auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 5px grey;
    margin:0 auto;
}

.testimonialText{
    padding: 20px;
    padding-left: 7%;
    padding-right: 7%;
    color: #000;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.signedBy {
    color: rgb(63, 62, 62);
    padding-left: 5%;
    font-style: italic;
    

}

/* End Testimonials */


